/* about page */

.about-home {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-home-img {
  opacity: 0.3;
  max-width: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  filter: grayscale(100%);
}

.about-home h3 {
  font-size: 4vw;
  color: #ec5245;
  padding-top: 15vw;
}

.about-home h1 {
  font-size: 6vw;
  color: #ec5245;
  padding-top: 10px;
  font-family: Cocogoose, sans-serif;
  width: 80%;
}

.about-home p {
  border: solid 1px #fff;
  background-color: #fff;
  width: 80%;
  font-size: 3vw;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.contact h4 {
  font-size: 3vw;
  text-align: center;
}

.contact a {
  color: #272a31;
  text-decoration: underline;
  cursor: pointer;
  font-size: 4vw;
}

/* logo */

.about-logo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding-bottom: 20px;
}

.about-logo h2 {
  font-size: 5vw;
  color: #272a31;
}

.about-logo p {
  width: 70%;
  text-align: center;
  font-size: 3vw;
}

.about-logo img {
  margin-top: 20px;
  border: solid 1px #c0c0c0;
  max-width: 90%;
}

.about-pastevents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3vw;
  align-items: center;
}

.about-pastevents h2 {
  font-size: 5vw;
  text-align: center;
}

.cards-about-past {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  padding: 6vw;
}

.card-past {
  position: relative;
}

.card-past img {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ec5245;
  opacity: 0.6;
  top: 0;
}

.card-past h3 {
  position: absolute;
  font-family: cocogoose, sans-serif;
  color: #fff;
  font-size: 4vw;
  text-align: center;
  top: 30%;
  width: 100%;
}

.card-past p {
  position: absolute;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 5vw;
  text-align: center;
  top: 50%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .about-home {
    height: 125vh;
  }

  .about-home-img {
    margin: -50% auto;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .about-home h3 {
    font-size: 2vw;
  }

  .about-home h1 {
    font-size: 5vw;
    color: #ec5245;
    padding-top: 10px;
    font-family: Cocogoose, sans-serif;
    width: 80%;
  }

  .about-home p {
    border: solid 1px #fff;
    background-color: #fff;
    width: 80%;
    font-size: 2vw;
    text-align: center;
  }

  .contact h4 {
    font-size: 2vw;
  }

  .contact a {
    font-size: 2vw;
  }

  .about-logo h2 {
    font-size: 3vw;
  }

  .about-logo p {
    width: 70%;
    text-align: center;
    font-size: 2vw;
  }

  .about-pastevents h2 {
    font-size: 3vw;
  }

  .cards-about-past {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-past h3 {
    font-size: 2vw;
  }

  .card-past p {
    font-size: 3vw;
  }

  .sponsor-section {
    display: none;
  }

  .footer {
    background-color: #272a31;
  }
}

/* about page */
